PORT=5000
USER_EMAIL=sample.email@test.com
SENDGRID_API_KEY=key_from_sendgrid
JWT_SECRET=random_text
MONGO_INITDB_ROOT_USERNAME=testUser
MONGO_INITDB_ROOT_PASSWORD=testPassword
MONGO_URI=mongodb://testUser:testPassword@mongodb:27017/shopping-cart-db?authSource=admin
